@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html{
  font-size: calc(0.8vw + 0.8vh + .5vmin);
}

body{
  box-sizing: border-box !important;
  font-family: 'Montserrat', sans-serif !important;
}